# Ignore all files (used to ignore VS files)
*

# Include only .cpp and .h files as well as the .gitignore
!.gitignore
!*.cpp
!*.h

# Also include any .pngs and files relating to web development
!*.png
!*.html
!*.css
!*.js

# Grab .cpp and .h files even if they are in subdirectories
!*/